<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About MES</a></li>
				<li><a href="/pets">PETS</a></li>
				<li><a href="/ncat">NCAT</a></li>
				<li><a href="/egret">EGRET</a></li>
				<li><a href="/trex">TREX</a></li>
	        		<li><a href="/wombat">WOMBAT</a></li>
	        		<li><a href="/wolf">WOLF</a></li>				
				<li><a href="/dog">DOG</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>email link</li>
	        		<li>home page link</li>
				</ul>
			</footer>
		</body>
	</html>
